footer {
	padding: 60px 0 62px;
	.flex {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
		}
	}
	.copy {
		width: 725px;
		@include media-breakpoint-down(md) {
			width: 100%;
			margin-bottom: 72px;
		}
	}
	p,
	a {
		font-size: 12px;
		line-height: 18px;
		color: #fff;
		text-align: justify;
		span {
			font-size: 12px;
			line-height: 18px;
			text-decoration: underline;
		}
	}
}
