.bg-layout {
	background: #dc6f60;
	.flex-bg {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 0;
	}
	.img-left,
	.img-right {
		width: 50%;
		height: 100%;
		object-fit: 100%;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	@include media-breakpoint-down(md) {
		.img-right {
			display: none;
		}
	}
}
.index-1 {
	z-index: 1;
}
.index-2 {
	z-index: 2;
}
.only-desk {
	display: block;
	@include media-breakpoint-down(md) {
		display: none;
	}
}
.only-mobile {
	display: none;
	@include media-breakpoint-down(md) {
		display: block;
	}
}
.content-center {
	width: 1220px;
	margin: 0 auto;
	@include media-breakpoint-down(lg) {
		width: 90%;
	}
}
h2 {
	font-size: 40px;
	line-height: 47px;
	font-weight: 400;
	color: #fff;
	strong {
		font-weight: 900;
	}
	@include media-breakpoint-down(md) {
		font-size: 32px;
		line-height: 38px;
	}
}
h3,
span {
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
	strong {
		font-weight: 900;
	}
	@include media-breakpoint-down(md) {
		font-size: 16px;
		line-height: 20px;
		strong {
			font-weight: 400;
		}
	}
}
p,
li {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
	strong {
		font-weight: 900;
	}
}
