.block-text {
	position: relative;
	padding: 97px 0 103px;
	@include media-breakpoint-down(md) {
		padding: 40px 0;
	}

	.title-block {
		margin-bottom: 50px;
		@include media-breakpoint-down(md) {
			margin-bottom: 40px;
		}
	}
	&.only-text {
		margin-right: 50px;
		@include media-breakpoint-down(md) {
			margin-right: 0;
			.text-block {
				margin-bottom: 0;
			}
		}
	}
	.flex-block-text {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		width: 1020px;
		margin-left: auto;
		@include media-breakpoint-down(md) {
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.text-block {
		// width: 970px;
		margin-right: 20px;
		@include media-breakpoint-down(md) {
			margin-right: 0;
			margin-bottom: 60px;
		}
		&.flex {
			display: flex;
			justify-content: space-between;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
			p {
				width: 460px;
				margin-right: 50px;
				text-align: justify;
				@include media-breakpoint-down(md) {
					width: 100%;
					margin-right: 0;
				}
			}
			ul {
				width: 460px;
				@include media-breakpoint-down(md) {
					width: 100%;
				}
			}
		}
		p {
			width: 540px;
			text-align: justify;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
		ul {
			width: 540px;
			padding-left: 28px;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			li {
				list-style-type: number;
				text-align: justify;
			}
		}
	}
	.img-joana-mobile {
		margin: 0 auto 48px;
		text-align: center;
	}
	.img-block {
		width: 280px;
		margin-left: 200px;
		@include media-breakpoint-down(md) {
			margin-left: 0;
		}

		&.card {
			.card-flex {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				figure {
					position: relative;
					width: 100%;
					height: 330px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid #fff;
					transition: all 0.3s ease;
					.hover {
						width: 100%;
						height: 100%;
						border: 1px solid rgba(255, 255, 255, 0.4);
						background: transparent;
						position: absolute;
						opacity: 0;
						transition: all 0.3s ease;
					}
					img {
						width: 180px;
						height: 174px;
					}
				}
				p {
					width: 100%;
					background: rgba(255, 255, 255, 1);
					color: #dc6f60;
					padding: 48px 0;
					font-weight: 900;
					text-align: center;
					transition: all 0.3s ease;
				}
			}
			&:hover {
				figure {
					.hover {
						width: 95%;
						height: 95%;
						opacity: 1;
					}
				}
				p {
					text-decoration: underline;
				}
			}
		}
		&.only-imgs {
			.flex-images {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
			}
			figure {
				width: 100%;
				height: 330px;
				margin-bottom: 20px;
				@include media-breakpoint-down(md) {
					margin: 0;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
