.cores-complementares {
	.bloco-cores {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 40px 0;
		background: #a94e60;
		margin-bottom: 40px;
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
		.item-cores {
			width: 200px;
			height: 220px;
			@include media-breakpoint-down(md) {
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.cor-1,
			.cor-2,
			.cor-3 {
				position: relative;
				padding: 10px;
				p {
					font-size: 12px;
					line-height: 12px;
					text-align: justify;
					font-weight: 400;
					color: #fff;
					position: absolute;
					bottom: 10px;
					left: 10px;
					&.c-black {
						color: #000;
					}
				}
			}
			.cor-1 {
				display: block;
				width: 100%;
				height: 40px;
			}
			.cor-2 {
				display: block;
				width: 100%;
				height: 60px;
			}
			.cor-3 {
				display: block;
				width: 100%;
				height: 120px;
			}
			// BLOCO 1
			&.bloco1-1 {
				.cor-1 {
					background: #f2d18d;
				}
				.cor-2 {
					background: #dc6f60;
				}
				.cor-3 {
					background: #443c57;
				}
			}
			&.bloco1-2 {
				.cor-1 {
					background: #dc6f60;
				}
				.cor-2 {
					background: #bbc5d3;
				}
				.cor-3 {
					background: #e7dbd3;
				}
			}
			&.bloco1-3 {
				.cor-1 {
					background: #594942;
				}
				.cor-2 {
					background: #a59d73;
				}
				.cor-3 {
					background: #dc6f60;
				}
			}
			&.bloco1-4 {
				.cor-1 {
					background: #9d4c3c;
				}
				.cor-2 {
					background: #dc6f60;
				}
				.cor-3 {
					background: #b99676;
				}
			}

			// BLOCO 2
			&.bloco2-1 {
				.cor-1 {
					background: #e4a0bb;
				}
				.cor-2 {
					background: #d28653;
				}
				.cor-3 {
					background: #dc6f60;
				}
			}
			&.bloco2-2 {
				.cor-1 {
					background: #dc6f60;
				}
				.cor-2 {
					background: #f7ca49;
				}
				.cor-3 {
					background: #efae77;
				}
			}
			&.bloco2-3 {
				.cor-1 {
					background: #d3ddbb;
				}
				.cor-2 {
					background: #dc6f60;
				}
				.cor-3 {
					background: #c8a4c5;
				}
			}
			&.bloco2-4 {
				.cor-1 {
					background: #33776d;
				}
				.cor-2 {
					background: #8ad2cb;
				}
				.cor-3 {
					background: #dc6f60;
				}
			}

			// BLOCO 3
			&.bloco3-1 {
				.cor-1 {
					background: #d3da78;
				}
				.cor-2 {
					background: #dc6f60;
				}
				.cor-3 {
					background: #d05e3d;
				}
			}
			&.bloco3-2 {
				.cor-1 {
					background: #dc6f60;
				}
				.cor-2 {
					background: #414377;
				}
				.cor-3 {
					background: #49975c;
				}
			}
			&.bloco3-3 {
				.cor-1 {
					background: #dd7141;
				}
				.cor-2 {
					background: #a94e60;
				}
				.cor-3 {
					background: #dc6f60;
				}
			}
			&.bloco3-4 {
				.cor-1 {
					background: #75c6b0;
				}
				.cor-2 {
					background: #dc6f60;
				}
				.cor-3 {
					background: #eae071;
				}
			}
		}
	}
}
