.galeria-imagens {
	padding: 50px 0 0;
	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	figure {
		width: 600px;
		height: 340px;
		margin-bottom: 20px;
		@include media-breakpoint-down(lg) {
			width: 49%;
			height: auto;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
