.topo-lp {
	position: relative;
	width: 100%;
	height: 372px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0 59px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	.elements-top {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		figure {
			width: 200px;
			height: 111px;
			margin-bottom: 20px;
			@include media-breakpoint-down(md) {
				width: 120px;
				height: 67px;
			}
		}
		h2 {
			margin-bottom: 10px;
		}
	}
	@include media-breakpoint-down(md) {
		height: auto;
		padding: 40px 0 35px;
	}
}
